.flex-container{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}

.flex-container .character-item{
    padding: 10px;
    margin: 0px 3px 3px 0px;
    font-size: 18px;
    border: 1px solid;
    flex-basis: 25%;
}

.flex-container .character-item:hover{
    background: #d3d3d3;
}