.flex-container{
    width: 100%;
    height: 100%;
    align-items: center;
}

.flex-container .weapon-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}

.flex-container .weapon-list .weapon-item{
    padding: 10px;
    margin: 0px 3px 3px 0px;
    font-size: 18px;
    border: 1px solid;
    flex-basis: 15%;
}

.flex-container .weapon-list .weapon-item:hover{
    background: #d3d3d3;
}