h1{
    padding: 10px;
    color: white;
    border-bottom: 1px solid black;
    height: 40%;
}

.head-container{
    text-align: center;
    background: #83cdda;
    font-size: 26px;
    font-family: sans-serif;
    height: 150px;
}

.navbar{
    height: 50px;
    font-size: 20px;
}

.navbar .navbar-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-list .nav-item{
    padding: 0px 15px 5px 15px;
    margin: 0px 15px 5px 15px;
    color: #e3e3e3;
}

.navbar .navbar-list .nav-item:hover{
    background: #4090b5;
}

.foot-container{
    height: 2.5rem;
    width: 100%;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid;
    font-size: 20px;
    text-align: center;
}